#abtn
{
    background-color: antiquewhite;

}
#sbtn
{
    background-color: aqua;
}
#mbtn
{
    background-color: azure;
}
#dbtn
{
    background-color: aquamarine;
}
#rbtn
{
    background-color: brown;
}